.container{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,73,237,1) 0%, rgba(7,185,237,1) 100%);;
}

.icontext{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn-primary{
  border: 2px solid;
  border-radius: 40px;
}